body {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    /*color: #333333;*/
    line-height: 35px;
    background-color: #000;
    /*opacity: 0.6;*/
}
.container {
    background-color: #fff;
    position: relative;
    width: 600px;
    margin: 200px auto;
    padding: 40px;
    border:1px solid #ccc;
    border-radius: 5px
    z-index:999px;
}
.container .title{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.container table td{
    vertical-align: top;
}
.container a {
    margin:0 5px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
}
.container  a:hover{
    color:#00ae66;
    text-decoration: underline;
}
span.right{
    float: right;
}
span.gray{
    color: #ccc;
}
.title span.gray{
    margin-right: 10px;
}
span.main-title{
    font-size: 20px;
    font-weight: bold;
}
.close-icon{
    position: absolute;
    top:-15px;
    right:-15px;
    cursor: pointer;
}
